<html>
    <head>
        <title>Debora's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://limonebasilico.wordpress.com">Debora's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://limonebasilico.wordpress.com/2015/11/30/natalebambini-e-tecnologia/">My first post</a></h2>
            <p>Davvero vogliamo lasciare che i nostri figli scoprano internet e la libertà che può offire in questo modo? Davvero vogliamo rinunciare ad un percorso insieme a loro per renderli sicuri sui sentieri digitali?.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://limonebasilico.wordpress.com/category/su-di-me/">My second post</a></h2>
            <p>Eccomi qui, sono Debora: una mamma, ma anche una bibliotecaria di professione e geek per passione.</p>
        </div>
    </body>
</html>